(
    text_style: (color: "#00ff00", font_size: 16, font_id: "consola.ttf"),
    split_background: Texture(
        texture: "white.png",
        color: "#001600",
        uv_rect: (0, 0, 1, 1),
    ),
    background: Texture(
        texture: "white.png",
        color: "#000800",
        uv_rect: (0, 0, 1, 1),
    ),
    text_field: TextFieldStyle(
        background: OnFocusStyle(
            normal: Texture(texture: "white.png", color: "#001000", uv_rect: (0,0,1,1)),
            focus: Texture(texture: "white.png", color: "#001600", uv_rect: (0,0,1,1)),
        ),
        caret_color: "#00FF00",
        selection_color: (bg: "#40A000", fg: "#001600"),
    ),
    scrollbar: ButtonStyle(
        normal: Texture(texture: "white.png", color: "#001600", uv_rect: (0,0,1,1)),
        hover: Texture(texture: "white.png", color: "#002600", uv_rect: (0,0,1,1)),
        pressed: Texture(texture: "white.png", color: "#003600", uv_rect: (0,0,1,1)),
        focus: Texture(texture: "white.png", color: "#003000", uv_rect: (0,0,1,1)),
    ),
    delete_button: ButtonStyle(
        normal: Texture(texture: "white.png", color: "#001600", uv_rect: (0,0,1,1)),
        hover: Texture(texture: "white.png", color: "#002600", uv_rect: (0,0,1,1)),
        pressed: Texture(texture: "white.png", color: "#003600", uv_rect: (0,0,1,1)),
        focus: Texture(texture: "white.png", color: "#003000", uv_rect: (0,0,1,1)),
    ),
)
