* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Define CSS Variables */
:root {
  --color-dark-bg: #111511;
  --color-dark-green: #1e5128;
  --color-bright-green: #4e9f3d;
  --color-light-green: #d8e9a8;
  --color-text: #e8efe8;
}

html {
  height: 100%;
  font-family: Arial, sans-serif;
  color: var(--color-text);
  overflow: hidden;
}

body {
  height: 100%;
  background-color: var(--color-dark-bg);
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.detail {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: var(--color-dark-bg);
  border-bottom: 1px solid var(--color-dark-green);
}

.title {
  margin-left: 8px;
  flex-grow: 1;
  font-size: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  border: none;
  background: none;
  color: var(--color-text);
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  color: var(--color-dark-bg);
}

.main {
  flex: 1;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.item-list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid var(--color-dark-green);
}

.item:hover {
  background-color: var(--color-dark-green);
  cursor: pointer;
}
.item:hover .thumbnail {
  background-color: var(--color-light-green);
}

a,
a:hover {
  all: unset;
  cursor: pointer;
}

.thumbnail {
  width: 96px;
  height: 96px;
  border-radius: 5px;
  background-color: var(--color-bright-green);
}

.info {
  flex-grow: 1;
  margin-left: 20px;
}

.info h3 {
  margin: 0;
  font-size: 18px;
  color: var(--color-light-green);
}

.info p {
  margin: 5px 0 0 0;
  font-size: 14px;
}

.size {
  font-weight: bold;
}

.drop-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.flex-row {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#game-canvas {
  min-height: 0px;
  min-width: 0px;
  object-fit: contain;
  image-rendering: pixelated;
  flex: 1;
}

#ppu-debug {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow: auto;
}

#ppu-debug h2 {
  margin: 0;
  font-size: 18px;
  color: var(--color-light-green);
  margin-top: 10px;
}

.pixel-canvas {
  /* flex-grow: 1; */
  background-color: var(--color-dark-bg);
  border: 1px solid var(--color-dark-green);
  width: auto;
}

.panel {
  border: 1px solid var(--color-dark-green);
  background-color: var(--color-dark-bg);
  overflow: scroll;
  height: 100%;
}

.tab-panel {
  overflow: hidden;
  height: 100%;
}

.tab-header {
  display: flex;
  gap: 3px;
  padding: 5px 5px 0 5px;
  background-color: black;
}

.tab-button {
  border: none;
  background: none;
  color: var(--color-text);
  cursor: pointer;
  font-size: 16px;
  background-color: var(--color-dark-green);
  border-bottom: 1px solid var(--color-dark-green);
  border-radius: 5px 5px 0 0;
}

.tab-button.active {
  color: var(--color-light-green);
  background-color: var(--color-dark-bg);
  border-bottom: 1px solid var(--color-dark-bg);
}
.tab-button:hover {
  color: var(--color-light-green);
}

.tab-content {
  overflow: scroll;
  height: 100%;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

/* Drag Overlay */
.drag-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-green);
  font-size: 24px;
  font-weight: bold;
  z-index: 999;
}

.menu-container {
  position: relative;
  display: inline-block;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  color: var(--color-bright-green);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.menu-button:hover {
  color: var(--color-dark-green);
}

.menu-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background: var(--color-dark-bg);
  border: 1px solid var(--color-dark-green);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 120px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.menu-dropdown button {
  background: none;
  border: none;
  padding: 8px;
  text-align: left;
  cursor: pointer;
  width: 100%;
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.2em;
}

.menu-dropdown button:hover {
  background: var(--color-bright-green);
  color: var(--color-dark-bg);
}

.menu-separator {
  width: 100%;
  height: 1px;
  background: var(--color-dark-green);
  border: none;
  margin: 5px 0;
}
